
@{
    ViewData["Title"] = "Show";
}

<table class="table" id="table_school">
    <thead>
        <tr>
            <th>
                Customer Id
            </th>
            <th>
                Customer Code
            </th>
            <th>
                Name
            </th>
            <th>
                Mobile Number
            </th>
            <th>
                Email
            </th>
            <th>
                State
            </th>
            <th>
                District
            </th>
            <th>
                City
            </th>
            <th>
                Pincode
            </th>
            <th>
                Gender
            </th>
            <th>
                Address
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(window).on("load", function () {
        GetCust();
    });

    function GetCust() {
        alert("hy")
        $.ajax({
            url: '/Home/GetCustomers',
            dataType: "JSON",
            method: 'Post',
            success: function (data) {
                $('#table_school tbody tr').empty();

                data = JSON.parse(data);
                var rows = '';

                $.each(data, function (key, cust) {
                    rows += '<tr>';
                    rows += '<td>' + cust.customerId + '</td>';
                    rows += '<td>' + cust.customerCode + '</td>';
                    rows += '<td>' + cust.customerName + '</td>';
                    rows += '<td>' + cust.customerPhone + '</td>';
                    rows += '<td>' + cust.customerEmail + '</td>';
                    rows += '<td>' + cust.stateName + '</td>';
                    rows += '<td>' + cust.districtName + '</td>';
                    rows += '<td>' + cust.city + '</td>';
                    rows += '<td>' + cust.pincode + '</td>';
                    rows += '<td>' + cust.customerGender + '</td>';
                    rows += '<td>' + cust.customerAddress + '</td>';
                    rows += '<td><a href="Registration?Id=' + cust.customerId + '">Edit</a> | <a href="Delete?Id=' + cust.customerId + '">Delete</a></td>';
                    rows += '</tr>';
                });
                $('#table_school tbody').html(rows);
            },
            error: function (error) {
                alert(error);
            }
        });
    }
</script>