@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table class="table" id="table_school">
    <thead>
        <tr>
            <th>
                Customer Id
            </th>
            <th>
                Customer Code
            </th>
            <th>
                Name
            </th>
            <th>
                Mobile Number
            </th>
            <th>
                Email
            </th>
            <th>
                State
            </th>
            <th>
                District
            </th>
            <th>
                City
            </th>
            <th>
                Pincode
            </th>
            <th>
                Gender
            </th>
            <th>
                Address
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">



    $(window).on("load", function () {
        GetAllCustomer();
    });

    function GetAllCustomer() {
        $("#table_school tbody tr").remove();

        $.getJSON("/Home/GetCustomers", function (data) {
            console.log(data);
            data = JSON.parse(data);
            $.each(data, function (i, SR) {
                $("#table_school tbody").append(
                    `<tr><td>` + SR.customerId + `</td><td>` + SR.customerCode + `</td><td>` + SR.customerName + `</td><td>` + SR.customerPhone + `</td><td>` + SR.customerEmail + `</td><td>` + SR.stateName + `</td><td>` + SR.districtName + `</td><td>` + SR.city + `</td><td>` + SR.pincode + `</td><td>` + SR.customerGender + `</td><td>` + SR.customerAddress + `</td><td><button class="btn btn-primary" onclick="Edit(` + SR.customerId + `)">Edit</button>&nbsp;&nbsp;<button class="btn btn-primary" onclick="Delete(` + SR.customerId + `)">Delete</button></td></tr>>`
                );
            });
        });
    }

    function Edit(customerId) {
        alert(customerId);
        $.post("/Home/Edit", { id: customerId }, function () {
            var prod = JSON.parse(data);
            console.log(prod);
            alert(prod);
            $("#txtid").val(prod.CustomerId);
            $("#txtcode").val(prod.CustomerCode);
            $("#txtname").val(prod.CustomerName);
            $("#txtmobile").val(prod.CustomerPhone);
            $("#txtemail").val(prod.CustomerEmail);
            $("#StateId").val(prod.StateId);
            $("#distid").empty();
            $.getJSON("Home/District_Bind", { stateid: prod.StateId }, function (data) {
                data = JSON.parse(data);
                $.each(data, function (i, Dist) {
                    $("#distid").append(
                        `<option value=` + Dist.Value + `>` + Dist.Text + `</option>`
                    );
                    $("#distid").val(prod.DistrictId);
                });
            });
            $("#txtcity").val(prod.City);
            $("#txtpincode").val(prod.Pincode);

            $('input:radio').each(function () {
                if ($(this).val() == prod.CustomerGender)
                    $(this).attr('checked', 'checked');
            });
            $("#txtadd").val(prod.CustomerAddress);
        });
    }

    function Delete(CustomerId) {
        $.post("Home/Delete", { id: CustomerId },
            function () {
                alert("Data Deleted");
                GetAllCustomer();
            }
        );
    }

</script>

